@import "tailwindcss";

@theme{
  --font-sora: "Sora";
  --font-roboto: "Roboto";
  --color-light-gray: #e9e9e9;
  --color-white: #fafafa;

  --color-orange-10: #fca439;
  --color-orange-20: #dd7447;
  --color-orange-30: #dd5c00;
}

*{
  box-sizing: border-box;
}

.shadow{
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.text_grad{
  background: -webkit-linear-gradient(360deg,#fca439, #dd7447, #dd5c00);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}